.DS_Store
node_modules/
dist/
npm-debug.log
npm-debug.log.*
selenium-debug.log
test/unit/coverage
test/e2e/reports
cordova/platforms
cordova/plugins
thumbs.db
!.gitkeep
!/src/modules/firebase.js
firebase-debug.log
.idea/
.vscode/
functions/config.js
build/
node_modules/
templates/
src/modules/firebase