// This file is included in the build if src/main.js imports
// either app.mat.styl or app.ios.styl.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #0C3663
$secondary = #1B4775
$tertiary  = #205082

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$light     = #f4f4f4
$dark      = #333
$faded     = #777

$text-color          = lighten(black, 17%)
$background-color    = white

$link-color          = lighten($primary, 25%)
$link-color-active   = $primary

.drawer-content {
  width: 200px;
  background: $primary
}
.bg-primary-opac {
  background-color: rgba(12,54,99,0.85)
}
.bg-secondary-opac {
  background-color: rgba(27,71,117,0.85)
}
.bg-light-opac {
  background-color: rgba(27,71,117,0.65)
}
.bg-four {
  background-color: #33608F
}
.bg-five {
  background-color: #51779E
}
.space {
        width: 15px;
}
.blur-3 {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
    .img-circle {
    border-radius: 50%;
}

